.colors {
    color: rgb(241, 0, 0); /* red */
    color: rgb(244, 67, 54); /* orange */
    color: rgb(33, 150, 243); /* blue */
    color: rgb(3, 169, 244); /* blue light */
    color: rgb(71, 192, 247); /* blue lighter */
    color: rgb(233, 30, 99); /* pink */
}

